.thingTagDiv{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width:50rem;
}
.thingTagDiv .thingTagStuff{
    border:10px, black, solid;
    border-width:1px;
    border-color:black;
    border-radius:5px;
    padding:1rem;
}
#some{
    max-width:50%;
    max-height:50%;
}
#userImage{
    width: 100px;
    height:100px;
    border-radius: 2%;
    border-color: black;
    border-style: solid;
    border-width:1px;
}